<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/userBox.css">
    <script src="/js/laydate.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>

    <title>日志管理</title>
</head>
<body>
<div style="padding-left: 10px;">
    <table class="table table-hover">
        <tr>
            <th>时间</th><th>操作类型</th><th>操作者</th><th>行为</th><th>被操作对象</th>
            <th>IP</th>
        </tr>
        <tr th:each="logDTO,a:${logDTOS}">
            <td th:text="${logDTO.gmtCreate}"></td>
            <td th:text="${logDTO.code}"></td>
            <td th:text="${logDTO.operator}"></td>
            <td th:text="${logDTO.describe}"></td>
            <td th:text="${logDTO.object}"></td>
            <td th:text="${logDTO.ip}"></td>
        </tr>
    </table>
    <nav aria-label="...">
        <ul class="pager">
            <li><a th:if="${nowPage}-1>0" th:href="@{/log(page=${nowPage}-1)}">上一页</a></li>
            <li><a th:if="${nowPage}+1<=${maxPage}" th:href="@{/log(page=${nowPage}+1)}">下一页</a></li>
        </ul>
    </nav>
</div>
</body>
</html>