<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:float="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/car.css"/>
    <link rel="stylesheet" href="/css/userBox.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <title>位置地图</title>
    <style type="text/css">
        #container{
            /*地图(容器)显示大小*/
            width:100%;height:100%;
        }
    </style>
    <!--引入Javascript API GL，参数说明参见下文-->
    <script charset="utf-8" src="https://map.qq.com/api/gljs?v=1.exp&key=OB4BZ-D4W3U-B7VVO-4PJWW-6TKDJ-WPB77&libraries=visualization"></script>
    <script>
        //地图初始化函数，本例取名为init，开发者可根据实际情况定义
        function initMap() {
            //ajax获取位置数据
            $.ajax({
                type: "GET",
                url: "/positions",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    //定义地图中心点坐标
                    var center=new TMap.LatLng(result[0].lat,result[0].lng)
                    //定义map变量，调用TMap.Map构造函数创建地图
                    var map = new TMap.Map(document.getElementById('container'), {
                        center: center,//设置地图中心点坐标
                        zoom:17,   //设置地图缩放级别
                        mapStyleId: 'style1' //个性化地图样式设置
                    });
                    //初始化散点图层并添加至map
                    var dot = new TMap.visualization.Dot({
                        //自定义散点样式（可选）
                        styles: {
                            circle:{
                                type: "circle",
                                fillColor: "#FF0000"
                            }
                        },
                    }).addTo(map);//将图层添加到map中
                    //为dot图层添加数据
                    dot.setData(result);
                },
                error:function () {
                    alert('网络错误!');
                }
            });
        }
    </script>
</head>
<!-- 页面载入后，调用init函数 -->
<body onload="initMap()">
<div th:insert="navigation :: nav" style="float: left;"></div>
<!-- 定义地图显示容器 -->
<div id="container"></div>
</body>
</html>